body {
  text-align: center;
  margin: 0px;
  height: auto;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.75em;
  }
  .col-2 {
    text-overflow: ellipsis;
  }
  button {
    display: inline-block;
    line-height: 0.75em;
  }

}
@media screen and (max-width: 420px) {
  body {
    font-size: 0.75em;
  }
  button {
    display: inline-block;
    line-height: 0.75em;
  }

  .button {
    display: none;
  }
}
.main {
  margin: 1em;
}
body ul {
  list-style-type: none;
}
.done {
  text-decoration: line-through;
}
table {
  width: 80%;
}

h1 a, h1 a:active {
  text-decoration: none;
  list-style: none;
  color: black;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
  background-color: #E6E6FA;
  margin: auto;
}
.pagination {
  text-align: center;
  padding: 0px;

}
.pagination li {
  list-style: none;
  display: inline;
  text-decoration: none;
  border: 1px solid black;
  margin: 0% 0% 0% 1%;
  
  background-color: #E6E6FA;
  cursor: pointer;
}
.pagination li a {
  text-decoration: none;
  margin: 1%;
}
